
// index
#sec {
  font-family: 'Raleway', sans-serif;
  background: #fff;
  text-align: center;
  word-wrap:break-word;

  .room_game_title {
    position: relative;
    border-bottom: 4px solid #DDD;
    p{
      margin-bottom: 0;
    }
  }
  .room_game_title::after {
    position: absolute;
    content: " ";
    border-bottom: solid 4px $main-color;
    bottom: -4px;
    width:10%;
    display: block;
  }
  .room_game_title_no{
    position: relative;
    border-bottom: 4px solid #DDD;
    p{
      margin-bottom: 0;
    }
  }
  .room_game_title_no::after {
    position: absolute;
    content: " ";
    border-bottom: solid 4px $sub-color;
    bottom: -4px;
    width:10%;
    display: block;
  }

  h2 {
    font-weight: 200;
    font-size: 30px;
    color: $primary-color;
  }
  .padding-0{
    padding: 0;
  }

  ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    list-style: none;
    .testdiv {
      padding: 20px;
      margin-bottom: 2em;
      transition: box-shadow .3s;

      &:hover {
        box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
      }

      &:hover span {
        color: $primary-color;
      }
      &:hover p {
        color: #555;
      }
      &:hover h3 {
        color: $primary-color;
      }
      &:hover h3:after{
        width: 25px;
      }
      span {
        font-size: 2.6em;
        display: block;
        transition: color .3s;
        color: $font-color;
        &:before, &:after {
          position: static;
        }
      }

      h3 {
        color: darken($font-color, 10%);
        display: inline-block;
        font-size: 24px;
        font-weight: 100;
        transition: color .3s;
        &:after {
          content: '';
          position: relative;
          left: 50%;
          top: 20px;
          transform: translateX(-50%);
          display: block;
          width: 40px;
          height: 1px;
          background: darken($font-color, 20%);
          transition: width .3s;
        }
      }
      p {
        color: $font-color;
        text-align: left;
        font-size: 16px;
        line-height: 26px;
        transition: color .3s;
      }
    }
  }
}

.room_start_time{
  p:first-child{
    margin-bottom: 0;
  }
}

.room_device{
  margin-top: 1em;
}

.room_play_time{
  p:first-child{
    margin-bottom: 0;
  }
}
.room_owner_name{
  p:first-child{
    margin-bottom: 0;
  }
}
.room_comment{
  p:first-child{
    margin-bottom: 0;
  }
}

.button{
  background-color: #FEEBE3;
  color: #495057;
  margin: 0.3em;
}
.search_box{
  width: 100%;
  height: 2.5em;
}
.index_field{
  .index_search_zone{
    margin: 1.5em 0;
    p{
      margin-bottom: 0;
    }
  }
}

.ok_border{
  border: 4px solid #51AFAD;
  border-radius: 0.25rem;
  background-color: #e7f8fa;
}
.no_border{
  border: 4px solid #C03046;
  background-color: #f7eaec;
  border-radius: 0.25rem;
}
.game_room_title{
  width: 100%;
}
.game_room{
  margin-bottom: 3em;
  .room_items{
    margin: 1em 0;
    p{
      margin-bottom: 0.3em;
    }
  }
  .button{
    margin-top: 1em;
    padding: 0.7em 1em;
    background-color: #FEEBE3;
    color: #495057;
  }
}
// new
.comment{
  height: calc( 1.5em * 5 );
  line-height: 1.5;
  width: 100%;
  padding: 6px 12px;
  padding: 0.375rem 0.75rem;
  font-size: 16px;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  -webkit-transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}
.close_message{
  height: calc( 1.5em * 10);
  display: block;
  width: 100%;
  padding: 6px 12px;
  padding: 0.375rem 0.75rem;
  font-size: 16px;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  -webkit-transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}
.form-group{
  .button{
    background-color: #FEEBE3;
    color: #495057;
    margin: 0.3em;
  }
}

.button{
  background-color: #FEEBE3;
  color: #495057
}
.layout_none{
  display: none;
}
.layout_block{
  display: block;
}
//edit

.game_room_edit{
  .comment{
    height: calc( 1.5em * 5 );
    line-height: 1.5;
    width: 100%;
    padding: 6px 12px;
    padding: 0.375rem 0.75rem;
    font-size: 16px;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    -webkit-transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  }
  .close_message{
    height: calc( 1.5em * 10);
    display: block;
    width: 100%;
    padding: 6px 12px;
    padding: 0.375rem 0.75rem;
    font-size: 16px;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    -webkit-transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  }
  .form-group{
    .button{
      background-color: #FEEBE3;
      color: #495057;
      margin: 0.3em;
    }
  }

  .button{
    background-color: #FEEBE3;
    color: #495057
  }
  .layout_none{
    display: none;
  }
  .layout_block{
    display: block;
  }
}

// show
.game_room_show{
  h1{
    font-size: 2em;
  }
  h2{
    font-size: 1.6em;
    border-bottom: 4px solid;

  }
  p{
    font-size: 1.2em;
    margin-bottom: 0;
  }
  .game_rooms_user_index{
    h2{
      font-size: 1.6em;
      border-bottom: 4px solid;
    }
    .game_room_participants{
    }
  }
  .show_game_room{
    .edit_link{
      float: right;
      font-size: 0.9em;
    }
  }
}